<link rel="stylesheet" href="styles/projects.css">

<div class="subpage-header text-center">
    <h1>M&A Feature Parity Project</h1>
    <p>Ensuring feature parity and cost analysis during the merger process.</p>
</div>

<div class="project-card mt-5">
    <h2>Project Resources</h2>
    <p>Download relevant project documentation below:</p>

    <div class="row mt-3">
        <div class="col-8" >
            <div class="row mt-3">
                <a href="files/A3-v1.pdf" download class="resource-card">
                    <i class="fas fa-file-pdf"></i> A3 Document (Version 1)
                </a>
            </div>
            <div class="row mt-3">
                <a href="files/project-charter-v1.pdf" download class="resource-card">
                    <i class="fas fa-file-pdf"></i> Project Charter (Version 1)
                </a>
            </div>
            <div class="row mt-3">
                <a href="files/Scope-Statement-v1.pdf" download class="resource-card">
                    <i class="fas fa-file-pdf"></i> Scope Statement (Version 1)
                </a>
            </div>
        </div>
        <div class="col" >
            <img src="images/puzzle.jpg" alt="About Me" class="card-img-top">
        </div>
    </div>





</div>
