<link rel="stylesheet" href="styles/projects.css">

<main>
    <section class="subpage-header text-center">
        <h1>M&A Feature Parity Project</h1>
        <p>Ensuring feature parity and cost analysis during the merger process.</p>
    </section>

    <article class="project-card mt-5">
    <h2>Project Resources</h2>
    <p>Download relevant project documentation below:</p>

    <div class="row mt-3">
        <div class="col-8" >
            <div class="resource-list">
                <a href="files/A3-v1.pdf" download class="resource-card">
                    <i class="fas fa-file-pdf"></i> A3 Document (Version 1)
                </a>
            </div>
            <div>*</div>
            <div class="resource-list">
                <a href="files/project-charter-v1.pdf" download class="resource-card">
                    <i class="fas fa-file-pdf"></i> Project Charter (Version 1)
                </a>
            </div>
            <div>*</div>
            <div class="resource-list">
                <a href="files/Scope-Statement-v1.pdf" download class="resource-card">
                    <i class="fas fa-file-pdf"></i> Scope Statement (Version 1)
                </a>
            </div>
            <div>*</div>
            <div class="resource-list">
                <a href="https://drive.google.com/file/d/1VzN64Nk2MuAR-Uv2utTU_Ij71oTm_bz5/view?usp=sharing" download class="resource-card">
                    <i class="fas fa-file-pdf"></i> <span>Download Gantt Chart 04192025</span>
                </a>
            </div>
            <div>*</div>
            <div class="resource-list">
                <a href="https://drive.google.com/file/d/1Vyf2AV2gV6pMEyf8TGslJgSDEGzw1YpU/view?usp=sharing" download class="resource-card">
                    <i class="fas fa-file"></i> <span>Download Microsoft Project</span>
                </a>
            </div>
        </div>
        <div class="col">
            <figure>
                <img src="images/puzzle.jpg" 
                     data-src="images/puzzle.jpg" 
                     alt="Puzzle pieces representing M&A integration and feature parity process" 
                     class="card-img-top" 
                     loading="lazy">
            </figure>
        </div>
    </div>





    </article>
</main>
