<link rel="stylesheet" href="styles/nav.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="?page=home">Brandon Zweifel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="?page=about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="?page=projects">Projects</a></li>
                <!-- li class="nav-item"><a class="nav-link" href="?page=reflections">Reflections</a></li -->
                <!-- li class="nav-item"><a class="nav-link" href="?page=research">Research</a></li -->
                <li class="nav-item"><a class="nav-link" href="?page=contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>