<link rel="stylesheet" href="styles/projects.css">

<div class="hero" >
    <h1 class="text-center">My Projects</h1>
    <p class="text-center">Here are some of the projects I am currently working on.</p>
</div>

<div class="container-fluid">   
    <div class="row justify-content-center">
        <!-- Project 1: M&A Feature Parity Project -->
        <div class="col">
            <div class="card project-card">
                <img src="images/ma_feature_parity.png" class="card-img-top" alt="M&A Feature Parity Project">
                <div class="card-body">
                    <h5 class="card-title">M&A Feature Parity Project</h5>
                    <p class="card-text">Ensuring feature parity and cost analysis during the merger process.</p>
                    <a href="?page=ma_feature_parity" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
        
        <!-- Project 2: Experity Analytic Assessment -->
        <div class="col">
            <div class="card project-card">
                <img src="images/assessment.png" class="card-img-top" alt="Experity Analytic Assessment">
                <div class="card-body">
                    <h5 class="card-title">Experity Analytic Assessment</h5>
                    <p class="card-text">Comprehensive evaluation of analytics implementation within Experity.</p>
                    <a href="?page=experity_analytic_assessment" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
    </div>
</div>