
.resource-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: var(--card-bg);
    color: var(--text-color);
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(100, 255, 218, 0.2);
    text-align: center;
}

.resource-card i {
    margin-right: 10px;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.resource-card:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.05);
}